body {
    margin: 0;
}

nav {
    background-color: rgba(36, 35, 35, 0.7);
    height: 80px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-nav {
    height: 80px;
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.logo {width: 150px;
}

.nav-item {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding-right: 20px;
}

.nav-item:hover {
    color: rgb(66, 204, 66);
}

section {
    height: 700px;
    background-color: #f037a5;
    background: linear-gradient(#f037a5 -60%, #fae62d 140%);
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(-60%, #f037a5),
      color-stop(140%, #fae62d)
    );

}

.music {
    font-size: 80px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: -webkit-linear-gradient(rgb(158, 206, 218), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.song {
    font-size: 23px;
    color: white;
    padding: 27px;
}

button {
    background-color: rgb(60, 168, 60);
    padding: 19px 65px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 45px;
}

button:hover {
    background-color: rgb(98, 189, 62);
    transition: ease-in 0.3s;
    transition: ease-out 0.3s;
}

.hero-img {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://www.scdn.co/i/home/hero-burst.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    background-color: black;
    height: 535px;
    color: white;
    display: flex;
    justify-content: center;
}

.row {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

h1 {
    color: gray;   
    font-size: 15px;
    letter-spacing: 0.05rem;
    padding-bottom: 22px;
}

.useful-link {
    padding-right: 220px;
}

.row-2 {
    margin-top: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    color: gray;
    font-size: 13px;
}

.footer-item {
    color: gray;
    text-decoration: none;
    margin-right: 5px;
    padding-right: 10px;
}

.footer-item:hover {
    color: rgb(66, 204, 66);
}

.footer-icon {
    font-size: 34px;
    color: white;
    padding-right: 12px;
}

.footer-icon:hover {    
    color: rgb(66, 204, 66);
}

.container {
    max-width: 1000px;
    width: 100%;
}

ul {
    list-style: none;   
}

li {
    padding-bottom: 18px;
    font-size: 17px;
}

li:hover {
    color: rgb(66, 204, 66);
}

.logogb {
    width: 25px;
}

